//цвета для фона
$bg-color: #75c4c4;
$bg-color-white: #f0ffff;
$bg-color-done: rgb(13, 219, 30);
// цвет для границ
$border-color:#7a7a7a;
// цвета для input label
$label-color:#99befa;
//цвет для input value
$input-color: #000000;
//цвет ивалидного значения
$invalid-color: #56221e;
//цвет для кнопки
$primary-btn-color: #c0c0bf8a;
$secondary-btn-color: #5b7bae;
